services:
  notification-api:
    environment:
      SPRING_PROFILES_ACTIVE: local

  whatsapp-worker:
    environment:
      SPRING_PROFILES_ACTIVE: local

  email-worker:
    environment:
      SPRING_PROFILES_ACTIVE: local
